# fly.toml app configuration file generated for dashti-portfolio-backend on 2025-10-28T21:17:28+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dashti-portfolio-backend'
primary_region = 'arn'

[build]
  dockerfile = 'Dockerfile'

[env]
  ENVIRONMENT = 'production'
  LOG_LEVEL = 'INFO'
  PORT = '8000'

[[mounts]]
  source = 'portfolio_data'
  destination = '/data'
  initial_size = '1GB'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/api/v1/health'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[statics]]
  guest_path = '/app/static'
  url_prefix = '/static'
